

<div class="container footer-component">

	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
			<div class="footer-logo">
				<img src="../images/Logo_v3-01.png" width="80%" />
			</div>
			<div class="footer-text">
				<p>Swop items. Exchange skills. Share experience.</p>
			</div>
		</div>
		<div class=" col-sm-offset-1 col-xs-offset-0 col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<p class="footer-title">Social</p>
			<nav class="social-list">
				<ul>
					<li>
						<a href="https://www.facebook.com/swopeuk/">
							<img src="../images/fb_icon.png" style="width:42%;" />
						</a>
						<a href="http://weibo.com/u/5676915807?is_all=1">
							<img src="../images/weibo_icon.png" style="width: 40%;" />
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-offset-1 col-xs-offset-0 col-lg-2 col-md-2 col-sm-3 col-xs-6">
			<p class="footer-title" >
				<a href="about.php" style="color: #ccc">about</a>
			</p>
			<nav class="social-list">
				<ul>
					<li>
						<a href="about.php#our_story">About The Web App</a>
					</li>
					<li>
						<a href="about.php#with_us">About Us</a>
					</li>
				</ul>
			</nav>
			<p class="footer-title footer-contact" >
				<a href="contact_us.php" style="color: #ccc">CONTACT US</a>
			</p>
			<nav class="footer-menu">
				<ul>
					<li>
						<a href="">contact@swope.uk</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="col-sm-offset-1  col-lg-2 col-md-2 col-sm-3 col-xs-6 col-xs-offset-0">
			<p class="footer-title">
				<a href="support.php" style="color: #ccc">SUPPORT</a>
			</p>
			<nav class="footer-menu">
				<ul>
					<li>
						<a href="support.php#terms">Terms Of Service</a>
					</li>
					<li>
						<a href="support.php#privacy">Privacy Policy</a>
					</li>
					<li>
						<a href="support.php#user_help">User Help</a>
					</li>
					<li>
						<a href="support.php#faq">FAQ</a>
					</li>

				</ul>
			</nav>
		</div>
	</div>
</div>
<div class="copy-right text-center">
	<span>Copyright &copy; 2016</span>
	<a href="home.php" target="_blank">Swope</a>
</div>