<div class="modal fade" id="img_experupload" tabindex="-1" role="dialog"
     aria-labelledby="experLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="experLabel">Add experience</h4>
            </div>
            <div class="modal-body">
                <div class="container kv-main" style="width: 100%;">
                    <div class="row">
                        <form enctype="multipart/form-data" role="form" method="post"
                              action="../classes/routers/add_object_router.php">
                            <div class="form-group">
                                <input id="file-7" name="images[]" class="file" type="file" multiple
                                       data-preview-file-type="any"
                                       data-upload-url="../classes/routers/add_object_router.php"
                                       data-preview-file-icon="" accept="image/jpeg, image/png, image/jpg"></div>

                            <script>
                                $(document).ready(function () {
                                    $("#file-7").fileinput({
                                        'showPreview': true,
                                        'allowedFileExtensions': ['jpg', 'png', 'jpeg'],
                                        'elErrorContainer': '#errorBlock',
                                        'showUpload': false
                                    });
                                });
                            </script>

                            <div class="form-group">
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <input type="text" name="title" class="form-control" id="title" placeholder="Title">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <textarea type="text" class="form-control" name="description" id="txt_content"
                                              placeholder="Please add description"></textarea>
                                </div>
                            </div>
                            <div class="form-group" >
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <input type="text" class="form-control" name="swapping_for"
                                           placeholder="Tell other swopers what you would like in exchange" >
                                </div>
                            </div>
                            <fieldset disabled>
                                <div class="form-group">
                                    <div class="col-lg-8  col-sm-8 col-xs-10">
                                        <select class="form-control" id="disabledSelect" >
                                            <option>Experiences</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <select class="form-control" id="subcategory_exper" name="sub_category_type_id">
                                        <option selected="selected">Travel</option>
                                        <option>Food</option>
                                        <option>Bars</option>
                                        <option>Fitness</option>
                                        <option>Culture</option>
                                        <option id="exper_other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="exper_new_category" style="display:none">
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <div class="col-lg-8  col-sm-8 col-xs-10">
                                        <input type="text" class="form-control" id="own_category"
                                               placeholder="Enter your own category">
                                    </div>

                                </div>
                            </div>
                            <script>
                                $("#exper_other").click(function(){
                                    $("#exper_new_category").css("display","block");
                                });
                                $("#subcategory_exper option:eq(0),#subcategory_exper option:eq(1),#subcategory_exper option:eq(2),#subcategory_exper option:eq(3),#subcategory_exper option:eq(4)").click(function(){
                                    $("#exper_new_category").css("display","none");
                                });
                            </script>
                            <div class="form-group" >
                                <div class="col-lg-8  col-sm-8 col-xs-10">
                                    <input type="text" class="form-control" id="value_category"
                                           placeholder="Value category"></div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-2 col-lg-offset-0 col-md-offset-4 col-sm-offset-4 col-xs-offset-3">
                                    <button type="submit" name="submit" class="btn btn-warning">Save changes</button>
                                </div>
                            </div>
                            <input type="hidden" name="category_type" value="EXPERIENCE">
                            <input type="hidden" name="value_type" value="MEDIUM">
                            <!--TODO-->
                            <!--<input type="hidden" name="sub_category_type_id" value="">-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content --> </div>
    <!-- /.modal -->
</div>

<link href="../css/lanrenzhijia.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="../js/lanrenzhijia.js"></script>