<div id="ca-container" class="ca-container visible-lg visible-md">
	<div class="ca-wrapper">
		<div class="ca-item ca-item-1">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/jacket.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						The greatness of a nation and its moral progress can be judged by the way in which its animals are treated.
					</span>
				</h4>
				<a href="#" class="ca-more" >more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/person.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>

						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="ca-item ca-item-2">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/pen.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						I hold that the more helpless a creature, the more entitled it is to protection by man from the cruelty of man.
					</span>
				</h4>
				<a href="#" class="ca-more">more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/person.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>
						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="ca-item ca-item-3">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/clothes.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						I feel that spiritual progress does demand at some stage that we should cease to kill our fellow creatures for the satisfaction of our bodily wants.
					</span>
				</h4>
				<a href="#" class="ca-more">more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/person.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>
						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="ca-item ca-item-4">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/camera.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						A man is but the product of his thoughts what he thinks, he becomes.
					</span>
				</h4>
				<a href="#" class="ca-more">more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/person.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>
						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="ca-item ca-item-5">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/jacket.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						The greatness of a nation and its moral progress can be judged by the way in which its animals are treated.
					</span>
				</h4>
				<a href="#" class="ca-more" >more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/pants.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>

						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
		<div class="ca-item ca-item-6">
			<div class="ca-item-main">
				<a href="item_detail.php"><img src="../images/shoses.jpg" width="100%" /></a>
				<h4>
					<span class="ca-quote">&ldquo;</span>
					<span>
						The greatness of a nation and its moral progress can be judged by the way in which its animals are treated.
					</span>
				</h4>
				<a href="#" class="ca-more" >more...</a>
			</div>
			<div class="ca-content-wrapper">
				<div class="ca-content">
					<h6>
						<img src="../images/person.jpg" width="10%" style="-moz-border-radius: 50%;
-webkit-border-radius: 50%;border-radius: 50%;
border:2px solid #ff8542; " />
						The items name by ownername on date
					</h6>
					<a href="#" class="ca-close">close</a>
					<div class="ca-content-text">
						<p>
							I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.
						</p>
						<p style="font-size: 17px;">
							<span class="label label-success" >Item</span>
							<span class="label label-primary">Item</span>
							<span class="label label-warning">Item</span>
						</p>
						<p>
							<a  href="#" onclick="return false;" style="font-size: 22px;">
								<span class="glyphicon glyphicon-heart">134</span>
							</a>
						</p>
						<p>size X</p>

						<p>
							<a href="#" class="btn btn-primary"  role="button">Put into the wish list</a>
						</p>
						<form class="bs-example bs-example-form" role="form">
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" class="form-control" id="name" placeholder="Leave message to owerner">
										<span class="input-group-btn">
											<button class="btn btn-default" type="button">send</button>
										</span>
									</div>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="../js/demo/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>

<script type="text/javascript" src="../js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="../js/jquery.contentcarousel.js"></script>
<script type="text/javascript">$('#ca-container').contentcarousel();</script>
